<div class="main-container">

    <div class="main-header">

        <header [ngClass]="'toolbar-'+settings.toolbar" [class.main-toolbar-fixed]="settings.mainToolbarFixed">
            <app-toolbar1 *ngIf="settings.toolbar == 1" (onMenuIconClick)="sidenav.toggle()"></app-toolbar1>
        </header>

    </div>

    <div class="main-content">
        <router-outlet></router-outlet>
    </div>

    <div class="bottom-content">
        <div class="container-fluid">
            <span style="color: black;">
                Summary Comes Here
            </span>
        </div>
    </div>
    <div class="bottom-navigation">
        <nav class="navbar navbar-expand-lg" id="bottom-navbar">
            <div class="container-fluid">
                <a [routerLink]="['properties']"><i class="fa fa-fw fa-search"></i> Buy</a>
                <a [routerLink]="['organiser']"><i class="fa fa-fw fa-envelope"></i> Set</a>
                <a [routerLink]="['payment-packs']"><i class="fa fa-fw fa-search"></i> Pay</a>
                <a [routerLink]="['investment-packs']"><i class="fa fa-fw fa-user"></i> Grow</a>
                <a (click)="openSettingsDialog()"><i class="fa fa-fw fa-cog"></i></a>
            </div>
        </nav>
    </div>

</div>

<div class="main-footer">
    Footer Here
</div>