<!-- *ngFor="let product of appService.Data.cartList" -->
<div style="overflow: visible; position: static;" data-new-gr-c-s-check-loaded="14.1034.0" data-gr-ext-installed="">
    <div id="app">
        <div class="_3wCa9">
            <section class="_3995s">
                <div class="_3zYBn">
                    <div class="_3QLRN"><i class="clear"></i>
                        <div class="_1vFpG"><i class="search"></i><input type="text" placeholder="Search Paytm"></div>
                    </div>
                </div>
                <div class="_1E_OP">
                    <div class="_8oupZ">
                        <div class="_2yuAj"><a class="_1VCtp"><span>Recharge &amp; Pay Bills</span></a><a class=""><span>Online Shopping</span></a><a class=""><span>Travel</span></a><a class=""><span>Movies &amp; Events</span></a><a class=""><span>Stocks &amp; Wealth</span></a>
                            <a class=""><span>Loans &amp; Credit Card</span></a><a class=""><span>Other Services</span></a></div>
                    </div>
                    <div class="o5jX8">

                        <div fxLayout="row wrap" class="properties-wrapper mt-0">

                            <div *ngFor="let property of properties" [fxFlex]="(viewType=='grid') ? viewCol : 100" class="item">
                                <app-property-item [property]="property" [viewType]="viewType" [viewColChanged]="viewCol" [fullWidthPage]="false"></app-property-item>
                            </div>

                            <div *ngIf="properties?.length == 0" fxFlex="100" fxLayoutAlign="center center" [style.min-height.px]="200">
                                <mat-spinner *ngIf="!message"></mat-spinner>
                                <mat-chip-list *ngIf="message">
                                    <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
                                        {{message}}
                                    </mat-chip>
                                </mat-chip-list>
                            </div>

                            <div *ngIf="properties?.length > 0" fxFlex="100" fxLayoutAlign="center center" class="p-2">
                                <mat-paginator [length]="pagination?.total" [pageSize]="pagination?.perPage" (page)="onPageChange($event)" class="w-100 mat-elevation-z1">
                                </mat-paginator>
                            </div>

                        </div>

                    </div>
                </div>
            </section>
            <div>

            </div>
        </div>
    </div>
</div>