<div class="layout-container">
    <section class="layout-inner-container">
        <div class="tool-bar-row">
            <div class="search-row">
                <i class="clear"></i>
                <div class="search-container">
                    <i class="search"></i>
                    <input type="text" placeholder="Search Here">
                </div>
            </div>
        </div>
        <div class="content-layout-container">
            <div class="left-layout-container">
                <div class="left-nav-list">
                    <a class="left-layout-nav-item">
                        <span>Recharge &amp; Pay Bills</span>
                    </a>
                    <a class="">
                        <span>Online Shopping</span>
                    </a>
                    <a class="">
                        <span>Travel</span>
                    </a>
                    <a class="">
                        <span>Movies &amp; Events</span>
                    </a>
                    <a class="">
                        <span>Stocks &amp; Wealth</span>
                    </a>
                    <a class="">
                        <span>Loans &amp; Credit Card</span>
                    </a>
                    <a class="">
                        <span>Other Services</span>
                    </a>
                </div>
            </div>
            <div class="right-layout-container">
                <a *ngFor="let product of rightList">
                    <div class="img-container">
                        <img src="https://assetscdn1.paytm.com/images/catalog/view_item/710719/1610605805462.png" alt="Mobile Prepaid">
                    </div>
                    <span>Mobile Prepaid</span>
                </a>
            </div>
        </div>
    </section>
</div>