/*! CSS Used from: Embedded */

html {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, sans-serif;
    font-display: optional;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body,
html {
    line-height: 1.5;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    background: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-overflow-scrolling: touch;
}

 ::-webkit-scrollbar {
    display: none;
}

img {
    width: 100%;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

img {
    max-width: 100%;
    border-style: none;
}

input {
    font: inherit;
    margin: 0;
}

input {
    overflow: visible;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scrollbar-width: none;
}

 :focus {
    outline: 0;
}

a {
    text-decoration: none;
    color: #00b9f5;
    cursor: pointer;
    position: relative;
}

input:focus {
    outline: 0;
    -webkit-appearance: none;
}


/*! CSS Used from: Embedded */

i {
    font-family: PAYTM-COMMON-MWEB !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clear:before {
    content: "\E912";
}

.search:before {
    content: "\E937";
    color: #506d85;
}

img {
    width: 100%;
}

 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}

 ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

input::-webkit-input-placeholder {
    color: gray;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input::-moz-placeholder {
    color: gray;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:-moz-placeholder,
input:focus::-moz-placeholder {
    color: transparent;
}

._3wCa9 {
    margin: 0;
    height: 100%;
}


/*! CSS Used from: Embedded */

img {
    width: 100%;
}

 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}

 ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

input::-webkit-input-placeholder {
    color: gray;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input::-moz-placeholder {
    color: gray;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:-moz-placeholder,
input:focus::-moz-placeholder {
    color: transparent;
}

img {
    width: 100%;
}

 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}

 ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

input:-moz-placeholder,
input:focus::-moz-placeholder {
    color: transparent;
}


/*! CSS Used from: Embedded */

img {
    width: 100%;
}

 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}

 ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

input:-moz-placeholder,
input:focus::-moz-placeholder {
    color: transparent;
}


/*! CSS Used from: Embedded */

img {
    width: 100%;
}

 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}

 ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

input:-moz-placeholder,
input:focus::-moz-placeholder {
    color: transparent;
}


/*! CSS Used from: Embedded */

img {
    width: 100%;
}

 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}

 ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

input:-moz-placeholder,
input:focus::-moz-placeholder {
    color: transparent;
}


/*! CSS Used from: Embedded */


/*! CSS Used from: Embedded */

img {
    width: 100%;
}

 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}

 ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

input:-moz-placeholder,
input:focus::-moz-placeholder {
    color: transparent;
}


/*! CSS Used from: Embedded */

img {
    width: 100%;
}

 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}

 ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

input::-webkit-input-placeholder {
    color: gray;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input::-moz-placeholder {
    color: gray;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:-moz-placeholder,
input:focus::-moz-placeholder {
    color: transparent;
}


/*! CSS Used from: Embedded */

img {
    width: 100%;
}

 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}

 ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

input:-moz-placeholder,
input:focus::-moz-placeholder {
    color: transparent;
}


/*! CSS Used from: Embedded */

img {
    width: 100%;
}

 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}

 ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

input::-webkit-input-placeholder {
    color: gray;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input::-moz-placeholder {
    color: gray;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:-moz-placeholder,
input:focus::-moz-placeholder {
    color: transparent;
}

._3995s {
    overflow-y: scroll;
    position: fixed;
}

._3995s,
._3995s ._3zYBn {
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

._3995s ._3zYBn {
    border-bottom: 1px solid #e8edf3;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
}

._3995s ._3zYBn ._3QLRN {
    padding: 40px 20px 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

._3995s ._3zYBn ._3QLRN i {
    padding: 10px 10px 10px 0;
    font-size: 25px;
    color: #506d85;
    font-weight: 300;
}

._3995s ._3zYBn ._3QLRN ._1vFpG {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
}

._3995s ._3zYBn ._3QLRN ._1vFpG i {
    font-size: 15px;
    color: #506d85;
    font-weight: 300;
    position: absolute;
    top: 2px;
    left: 13px;
}

._3995s ._3zYBn ._3QLRN ._1vFpG input {
    border: 0;
    background: #f5f8fa;
    border-radius: 50px;
    padding: 0 15px 0 35px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #506d85;
    font-weight: 500;
}

._3995s ._3zYBn ._3QLRN ._1vFpG input:focus::-webkit-input-placeholder {
    opacity: 0;
    color: transparent;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

._3995s ._1E_OP {
    display: -ms-flexbox;
    display: flex;
}

._3995s ._1E_OP ._8oupZ {
    width: 30%;
    background: #f5f8fa;
    overflow: scroll;
    height: 84vh;
    position: absolute;
}

._3995s ._1E_OP ._8oupZ ._2yuAj a {
    display: block;
    padding: 23px 0;
    border-bottom: 1px solid #e8edf3;
    font-size: 14px;
    color: #37445a;
    font-weight: 500;
}

._3995s ._1E_OP ._8oupZ ._2yuAj a span {
    display: block;
    padding: 0 13px;
}

._3995s ._1E_OP ._8oupZ ._2yuAj ._1VCtp {
    background: #fff;
    font-weight: 700;
}

._3995s ._1E_OP ._8oupZ ._2yuAj ._1VCtp span {
    display: block;
    padding: 0 13px;
    border-left: 2px solid #00b9f5;
}

._3995s ._1E_OP .o5jX8 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 23px 5px 23px 0;
    overflow: scroll;
    position: absolute;
    right: -2px;
    width: 70%;
    max-height: 80vh;
}

._3995s ._1E_OP .o5jX8 a {
    text-align: center;
    width: 33.33%;
    margin-bottom: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

._3995s ._1E_OP .o5jX8 a ._3yeWX {
    margin-bottom: 5px;
    width: 64px;
    height: auto;
}

._3995s ._1E_OP .o5jX8 a ._3yeWX img {
    width: auto;
    height: 40px;
}

._3995s ._1E_OP .o5jX8 a span {
    text-align: center;
    width: 70px;
    font-size: 12px;
    color: #000;
    font-weight: 600;
}