<article *ngFor="let task of rightList" class="c-card c-card--external c-card--flight c-flight-card" layout="row">
    <div class="c-card__image-holder">
        <img src="https://stimg.cardekho.com/images/carexteriorimages/930x620/Mini/Cooper-Convertible/5182/1624430518066/front-left-side-47.jpg?tr=w-375" alt="" class="c-card__image img-responsive" flex="nogrow">
    </div>

    <div class="c-card__body" layout="row nowrap" xs-layout="row wrap" flex>
        <div class="c-flight-card__flight-schedule" flex="auto" xs-order="1">
            <strong>08:45 - 09:55</strong>
            <sub>Lufthansa - Lufthansa CityLine</sub>
            <sub>                          
                <mat-icon>mic</mat-icon>
                <mat-icon (click)="openViewEditPackDialog(task)">edit</mat-icon>
                <mat-icon>delete</mat-icon>
            </sub>
        </div>

    </div>
</article>