/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "app/theme/styles/spinner";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~swiper/swiper-bundle.min.css';
@import '~snazzy-info-window/dist/snazzy-info-window.css';
@import "app/theme/styles/base";
@import "app/theme/styles/spaces";
@import "app/theme/styles/theme";
@import "app/theme/styles/rtl";
::-webkit-scrollbar {
    display: none;
}

.layout-container {
    margin: 0;
    height: 100%;
    top: 20px;
}

.toolbar-container {
    overflow-y: scroll;
}

.toolbar-container,
.toolbar-container .tool-bar-row {
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.toolbar-container .tool-bar-row {
    border-bottom: 1px solid #e8edf3;
    width: 100%;
    position: relative;
}

.toolbar-container .tool-bar-row .search-row {
    padding: 10px 10px 10px;
    display: flex;
    align-items: center;
}

.toolbar-container .tool-bar-row .search-row i {
    padding: 10px 10px 10px 0;
    font-size: 25px;
    color: #506d85;
    font-weight: 300;
}

.toolbar-container .tool-bar-row .search-row .search-container {
    display: flex;
    width: 100%;
    position: relative;
}

.toolbar-container .tool-bar-row .search-row .search-container i {
    font-size: 15px;
    color: #506d85;
    font-weight: 300;
    position: absolute;
    top: 2px;
    left: 13px;
}

.toolbar-container .tool-bar-row .search-row .search-container input {
    border: 0;
    background: #f5f8fa;
    border-radius: 50px;
    padding: 0 15px 0 35px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #506d85;
    font-weight: 500;
}

.toolbar-container .content-layout-container {
    display: flex;
}

.toolbar-container .content-layout-container .left-layout-container {
    width: 30%;
    background: #f5f8fa;
    overflow: scroll;
    height: 84vh;
    position: relative;
}

.toolbar-container .content-layout-container .left-layout-container .left-nav-list a {
    display: block;
    padding: 23px 0;
    border-bottom: 1px solid #e8edf3;
    font-size: 14px;
    color: #37445a;
    font-weight: 500;
}

.toolbar-container .content-layout-container .left-layout-container .left-nav-list a span {
    display: block;
    padding: 0 13px;
}

.toolbar-container .content-layout-container .left-layout-container .left-nav-list .left-layout-nav-item {
    background: #fff;
    font-weight: 700;
}

.toolbar-container .content-layout-container .left-layout-container .left-nav-list .left-layout-nav-item span {
    display: block;
    padding: 0 13px;
    border-left: 2px solid #00b9f5;
}

.toolbar-container .content-layout-container .right-layout-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 2px 2px 2px;
    overflow: scroll;
    position: absolute;
    right: -2px;
    width: 70%;
    max-height: 80vh;
}

.toolbar-container .content-layout-container .right-layout-container a {
    text-align: center;
    width: 33.33%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.toolbar-container .content-layout-container .right-layout-container a .img-container {
    margin-bottom: 5px;
    width: 64px;
    height: auto;
}

.toolbar-container .content-layout-container .right-layout-container a .img-container img {
    width: auto;
    height: 40px;
}

.toolbar-container .content-layout-container .right-layout-container a span {
    text-align: center;
    width: 70px;
    font-size: 12px;
    color: #000;
    font-weight: 600;
}