/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "app/theme/styles/spinner";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~swiper/swiper-bundle.min.css';
@import '~snazzy-info-window/dist/snazzy-info-window.css';
@import "app/theme/styles/base";
@import "app/theme/styles/spaces";
@import "app/theme/styles/theme";
@import "app/theme/styles/rtl";
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    display: none;
}

.layout-container {
    margin: 0;
    height: 100%;
}

.layout-inner-container {
    overflow-y: scroll;
}

.layout-inner-container,
.layout-inner-container .tool-bar-row {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.layout-inner-container .tool-bar-row {
    width: 100%;
    position: relative;
}

.layout-inner-container .tool-bar-row .search-row {
    padding: 2px 2px 2px 2px;
    display: flex;
    align-items: center;
}

.layout-inner-container .tool-bar-row .search-row i {
    padding: 5px 5px 5px 5px;
    font-size: 25px;
    font-weight: 300;
}

.layout-inner-container .tool-bar-row .search-row .search-container {
    display: flex;
    width: 100%;
    position: relative;
}

.layout-inner-container .tool-bar-row .search-row .search-container i {
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    top: 2px;
    left: 13px;
}

.layout-inner-container .tool-bar-row .search-row .search-container input {
    border: 0;
    border-radius: 50px;
    width: 100%;
    height: 2rem;
    font-size: 16px;
    font-weight: 500;
    background: none;
}

.layout-inner-container .content-layout-container {
    display: flex;
    height: 76vh;
    background: yellow;
}

.layout-inner-container .content-layout-container .left-layout-container {
    width: 30%;
    overflow: scroll;
    height: 100%;
    position: relative;
}

.layout-inner-container .content-layout-container .left-layout-container .left-nav-list {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.layout-inner-container .content-layout-container .left-layout-container .left-nav-list a {
    display: block;
    padding: 6px 0;
    border-bottom: 1px solid;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}

.layout-inner-container .content-layout-container .left-layout-container .left-nav-list a span {
    display: block;
    padding: 0 5px;
}

.layout-inner-container .content-layout-container .left-layout-container .left-nav-list .left-layout-nav-item {
    font-weight: 700;
}

.layout-inner-container .content-layout-container .left-layout-container .left-nav-list .left-layout-nav-item span {
    display: block;
    padding: 0 5px;
    border-left: 2px solid #00b9f5;
}

.layout-inner-container .content-layout-container .right-layout-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 0px;
    overflow: scroll;
    right: -2px;
    width: 70%;
    height: 100%;
}